body {
  background: pink;
}

.active {
  border: 2px solid blue;
}

.horoscopeContainer {
  background: red;
  &.active {        /* szczegolowa zasada dla container i active */
    border: 0;
  }
  &:hover {

  }
  h2 {

  }
}
.horoscopeContainer h2 {
  background: red;
}

